@model AccountIndexViewModel

@{
	ViewData["Title"] = "Account";
}

<div class="d-flex flex-wrap align-items-center justify-content-center row mb-5">
	<div class="col-lg-5 m-auto">
		<div class="text-center mb-3 mt-5">
			<img class="mb-3 border border-2 border-primary rounded" src="~/img/assets/account.svg" alt="worker-photo" width="150" height="150">
			<h2 class="fw-normal">@Model.Worker.Surname</h2>
			<h2 class="fw-normal">@Model.Worker.Name @Model.Worker.Patronymic</h2>
		</div>
		<div class="mb-3">
			<label class="form-label text-start">Phone number</label>
			<input type="text" class="form-control" value="@Model.Worker.Phone" readonly/>
		</div>
		<div class="mb-3">
			<label class="form-label text-start">Birth date</label>
			<input type="text" class="form-control" value="@Model.Worker.BirthDate.ToString("MM/dd/yyyy")" readonly/>
		</div>
		<div class="mb-3">
			<label class="form-label text-start">Position</label>
			<input type="text" class="form-control" value="@Model.Worker.Position" readonly/>
		</div>
		<div class="mb-3">
			<label class="form-label text-start">Site role</label>
			<input type="text" class="form-control" value="" readonly/>
		</div>
		<div class="text-center">
			<a class="btn btn-outline-danger" asp-controller="Home" asp-action="Index">Back to home page</a>
		</div>
	</div>
</div>
