@model ProductIndexViewModel

@{
	ViewData["Title"] = "Products";
}

<div class="container d-flex align-center mb-3 justify-content-between">
	<div class="d-flex flex-wrap">
		<h1>All products</h1>
		<a class="d-flex btn btn-warning ms-4 align-items-center" asp-conroller="Products" asp-action="Create">Add product</a>
	</div>
	<div class="d-flex flex-wrap">
		<form class="d-flex ms-4 w-auto" method="post" asp-controller="Products" asp-action="Index">
			<select class="form-select w-auto" aria-label="Default select example" asp-for="SortingField">
				<option selected>Sorting field</option>
				<option value="Name">Name</option>
				<option value="Price">Price</option>
				<option value="Description">Description</option>
			</select>
			<select class="form-select w-auto ms-4" aria-label="Default select example" asp-for="SortingTrend">
				<option selected>Order by...</option>
				<option value="ASC">ASC</option>
				<option value="DESC">DESC</option>
			</select>
			<input type="submit" class="d-flex btn btn-warning ms-4 align-items-center" value="Go sort"/>
		</form>
	</div>
</div>
@{
	<div class="container mb-3">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			@foreach (var product in Model.Products)
			{
				<div class="col">
					<div class="card shadow-sm">
						<img
							src="@product.Image.Name"
							class="bd-placeholder-img card-img-top shadow-sm"
							width="100%"
							height="225"
							aria-label="Placeholder: Thumbnail"
							preserveAspectRatio="xMidYMid slice"
							focusable="false"
							alt="image"/>

						<div class="card-body">
							<p class="fs-2">@product.Name</p>
							<p class="card-text">Storage: @product.Storage.Name</p>
							<p class="card-text">
								Amount at storage:
								@product.Storage.Products.Count()
								@* @product.Storage.Products.Where(x => x.StorageId == product.StorageId).ToList().Count() *@
							</p>
							<p class="card-text">@product.Description</p>
							<div class="d-flex justify-content-between align-items-center">
								@{
									if (User.IsInRole("Administrator"))
									{
										<div class="btn-group">
											<a type="button" class="btn btn-sm btn-outline-primary" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
											<a type="button" class="btn btn-sm btn-outline-danger" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
										</div>
									}
								}
								<small class="text-muted fs-5">@product.Price.ToString("c")</small>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
}

<div class="container d-flex align-center py-3 justify-content-between">
	<div class="d-flex flex-wrap">
		<h1>Export data</h1>
	</div>
	<div class="d-flex flex-wrap">
		<form class="d-flex ms-4 w-auto" method="post" asp-controller="Products" asp-action="ExportData">
			<select class="form-select w-auto" aria-label="Default select example" asp-for="ExportType">
				<option selected>Choose type</option>
				<option value="csv">Excel .csv</option>
				<option value="2">Excel .xlsx</option>
				<option value="3">XML Document .xml</option>
			</select>
			<input type="submit" class="d-flex btn btn-warning ms-4 align-items-center" value="Export"/>
		</form>
	</div>
</div>
